
@{
    ViewData["Title"] = "SeleccionDato";
    Layout = "_Layout";
}


    

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Densidad Variable</title>
</head>
<body>



    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acción a ejecutar
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="Registro/EditarDato">Editar Usuarios</a>
            <a class="dropdown-item" href="Registro/ConsultarDato">Consultar Usuarios</a>
            <a class="dropdown-item" href="Registro/RegistroDato">Registrar Usuarios</a>
            <a class="dropdown-item" href="Registro/BorrarDato">Borrar Usuarios</a>
        </div>
    </div>

</body>
</html>
